---
import dayjs from "dayjs";
import { ISbRichtext, renderRichText } from "@storyblok/astro";

interface Props {
  blok: {
    name: string;
    publishedAt: string;
    content: {
      summary: string;
      tags: string[];
      coverImage: {
        filename: string;
      };
      sideImage: {
        filename: string;
      };
      content: ISbRichtext;
    };
  };
}

const { blok } = Astro.props;

const content = renderRichText(blok.content.content);

const title = blok.name;
const summary = blok.content.summary;
const publishedDate = blok.publishedAt;
const tags = blok.content.tags;
const coverImage = blok.content.coverImage?.filename;
const sideImage = blok.content.sideImage?.filename;

const label = title.split(" ").join("-").toLowerCase();
---

<section>
  <div class="px-8 py-12 md:px-12 mx-auto lg:pt-24 max-w-7xl lg:px-32">
    <div class="grid md:grid-cols-3 gap-12">
      <img
        class="h-96 w-full object-cover object-center shadow-lg md:col-span-2 row-start-2 md:row-start-auto"
        src={coverImage}
        alt={title}
        transition:name={`${label}-image`}
      />
      <div
        class="flex items-center row-start-1 md:row-start-auto justify-center"
      >
        <h1
          class="tracking-tight text-balance font-medium font-display text-black text-3xl md:text-5xl text-center"
        >
          Thoughtful Gay Odysseys
        </h1>
      </div>
    </div>
    <div class="md:mt-12 mx-auto">
      <div class="grid grid-cols-3 gap-12">
        <div class="prose-styles whitespace-pre-wrap col-span-3 md:col-span-2">
          <div class="flex justify-center">
            <div>
              <Fragment set:html={content} />
            </div>
          </div>
        </div>
        {
          sideImage && (
            <img
              class="side-image hidden md:block h-full w-full object-cover object-center"
              src={sideImage}
              alt={title}
            />
          )
        }
      </div>
    </div>
    <h1
      transition:name={`${label}-title`}
      class="text-4xl tracking-tight text-balance mt-12 lg:mt-16 font-medium font-display text-black md:text-7xl"
    >
      {title}
    </h1>
    <p class="text-xs text-zinc-500 pt-2" transition:name={`${label}-date`}>
      {dayjs(publishedDate).format("MMM DD, YYYY")} - By R.M. Wardell
    </p>
  </div>
</section>
