---
import BaseLayout from "@/layouts/BaseLayout.astro";
import EntriesOne from "@/components/entries/EntriesOne.astro";
import Hero from "@/components/landing/Hero.astro";
import Cta from "@/components/global/Cta.astro";
import { useStoryblokApi } from "@storyblok/astro";

const storyblokApi = useStoryblokApi();

const { data } = await storyblokApi.get("cdn/stories", {
  version: import.meta.env.DEV ? "draft" : "published",
});

// Sort posts by date in descending order (newest first)
const sortedPosts = data.stories.sort(
  (a, b) => b.publishedDate?.getTime() - a.publishedDate?.getTime()
);
---

<BaseLayout>
  <Hero />
  <section>
    <div class="px-8 md:px-12 mx-auto max-w-7xl py-12 lg:px-32">
      <!-- <ol role="list" class="flex flex-wrap gap-3">
        {
          tags.map((tag) => (
            <li class="inline-flex items-center uppercase mx-auto hover:text-blue-500 text-xs font-medium text-black">
              <a href={`/tags/${tag}`}>{tag}</a>
            </li>
          ))
        }
      </ol> -->
      <ul
        class="grid grid-cols-1 mt-12 gap-1 gap-y-24 lg:grid-cols-3 sm:grid-cols-2"
      >
        {
          sortedPosts.map((post) => (
            <EntriesOne
              url={"/posts/" + post.slug}
              title={post.name}
              description={post.content.summary}
              alt={post.name}
              pubDate={post.publishedDate?.toString().splice(0, 10)}
              author="Rebekah Wardell"
              image={post.content.coverImage.filename}
              tags={post.content.tags}
            />
          ))
        }
      </ul>
    </div>
  </section>
  <Cta />
</BaseLayout>
