---
import "../styles/global.css";
import "@fontsource/cormorant-garamond";
import "@fontsource-variable/raleway";
import { ViewTransitions } from "astro:transitions";

const title = "Thoughtful Gay Odysseys";
const description =
  "R.M.'s relationship with words was at first a fractious struggle with dyslexia that left R.M. in tears on more than one occasion. As time and skills developed, a love for poetry, creativity, and story overthrew many fears and led to an imperfect and courageous life.";
const permalink = "https://thoughtfulgayodysseys.com";
const image = "https://thoughtfulgayodysseys.com/images/rm.webp";
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/x-icon" href="/images/rm-icon.jpg" />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:site_name" content="Lindsay Wardell" />
<meta property="og:type" content="website" />
<meta property="og:url" content={permalink} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={image} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={permalink} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={image} />

<link
  rel="alternate"
  type="application/rss+xml"
  title={title}
  href={new URL("rss.xml", permalink)}
/>
<ViewTransitions />
